/**COLOR SCHEME **/
body{
 margin: 0em; 
 padding: 0em; 
 font-family: "Segoe UI", "Helvetica", "sans-erif"; 
 background: linear-gradient(#2083bf,#55efc4);
 overflow: hidden; 
 overflow-y: scroll; 
}


h1{
    margin-block-start: 0em; 
}

.title-h1{
    text-align: CENTER; 
    color: white; 
    padding-top: 30px; 
    font-weight: 300; 
}

.title-h1-big{
    text-align: CENTER;
    color: white;
    font-size: 100px;
    letter-spacing: 20px;
    font-weight: 300;
}

.post-container{
    margin: 0px 30px;
    border-radius: 10px;
    margin-bottom: 60px;
    margin-top: 75px; 
    padding: 10px;
    background: #ffffffb8;
    display: inline-flex;
    min-width: 29%;
    min-height: 200px;
    max-width: 30%;
    transition: 0.7s; 
}

.hero-ul{
 list-style-type: none; 
 position: absolute; 
 top: 10px; 
 right: 15px;  
}

.hero-li{
  color: white; 
  display: inline-flex; 
  margin: 0px 10px; 
  font-weight: 100; 
}

.hero-li:hover{
  cursor: pointer; 
}

.post-container:hover{
    transform: scale(1.01);
    box-shadow: 0.1px 0.1px 10px #fff;
    cursor: pointer; 
}

.pc-img{
    width: 150px;
    height: 200px;
    margin-right: 20px;
}

.pc-title{
    font-weight: 300;
}

.pc-para{
 margin-top: -15px;
}

#post-button{
    border: 1px solid #fff;
    position: absolute;
    width: 150px;
    height: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    color: white;
    text-align: Center;
    vertical-align: middle;
    font-size: 25px;
    font-weight: 100;
    padding-top: 10px;
    margin-top: -30px; 
    transition: background 0.7s; 
    transition: color 0.7s; 
}

#post-button:hover{
  cursor: pointer;
  background: white;
  color: #2083bf;
}

.popup-newpost{
     position: absolute;
    border: 1px solid white;
    padding: 20px;
    border-radius: 5px;
    background: #fffffff7;
    left: 50%; 
    transform: translateX(-50%);
    top: 20%; 
    display: none; 
}

.popup-li{
 margin-bottom: 20px; 
}

.popup-input{
    width: 90%;
    font-size: 20px;
    font-family: inherit; 
}

.popup-textarea{
   width: 90%; 
   font-size: 20px; 
   font-family: inherit; 
   resize: none; 
   margin-top: 15px; 
   height: 100px; 
}

.file-select{
    font-size: 20px;
    margin-top: 15px;
}

#post-button-inner{
    padding: 10px 30px;
    font-size: 20px;
    border: 1px solid #2083bf;
    background: none;
    color: #2083bf;
    border-radius: 5px;
    margin-left: 50%;
    transform: translateX(-50%);
}

#post-button-inner:hover{
    cursor: pointer;
    background: #eee
}

.vignette{
    height: 100vh;
    position: absolute;
    width: -webkit-fill-available;
    background: #111;
    opacity: 0.6; 
    display: none; 
}

#exit-button{
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 0px;
    transition: transform 0.7s; 
}

#exit-button:hover{
    cursor: pointer; 
    transform: scale(1.1); 
}